
@{
    ViewBag.Title = "_Footer";
}


<div class="container">
    <div class="row mb-4">
        <div class="col-md-3 mb-5">
            <ul class="list-unstyled link">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Terms &amp; Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Rooms</a></li>
            </ul>
        </div>
        <div class="col-md-3 mb-5">
            <ul class="list-unstyled link">
                <li><a href="@Url.Action("Index","Room")">Rooms</a></li>
                <li><a href="@Url.Action("About","Home")">About Us</a></li>
            </ul>
        </div>
        <div class="col-md-3 mb-5 pr-md-5 contact-info">
            <!-- <li>198 West 21th Street, <br> Suite 721 New York NY 10016</li> -->
            <p><span class="d-block"><span class="ion-ios-location h5 mr-3 text-primary"></span>Address:</span> <span> Playa Matapalo, Guanacaste Province,Costa Rica</span></p>
            <p><span class="d-block"><span class="ion-ios-telephone h5 mr-3 text-primary"></span>Phone:</span> <span> +(506) 2681 2300</span></p>
            <p><span class="d-block"><span class="ion-ios-email h5 mr-3 text-primary"></span>Email:</span> <span> celestialHotel@domain.com</span></p>
        </div>
        
    </div>
    <div class="row pt-5">
        <p class="col-md-6 text-left">
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script>
        </p>

        <p class="col-md-6 text-right social">
            <a href="#"><span class="fa fa-tripadvisor"></span></a>
            <a href="#"><span class="fa fa-facebook"></span></a>
            <a href="#"><span class="fa fa-twitter"></span></a>
            <a href="#"><span class="fa fa-linkedin"></span></a>
            <a href="#"><span class="fa fa-vimeo"></span></a>
        </p>
    </div>
</div>

